:root {
    --main-bg: #439A97 ;
    --secondary-bg: #62B6B7;
    --main-text: #97DECE;
    --secondary-text: #CBEDD5;
} 

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66bfbf;
    /* line-height: 2; */
}

h2 {
    color: #66bfbf;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999e;
}

h2,h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}  

.profile-image {
    width: 200px;
}

hr {
    border-style: dotted none none;
    border-color: #eaf6f6;
    border-width: 5px;
    width: 5%;
}

.top-container {
    background-color: var(--main-bg);
    position: relative;
    padding-top: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skills-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.python-logo {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.middle-container {
   
}

.bottom-container {
  
}